<div class="signup">
  <div class="signup-area">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "signup-form") do |f| %>
      <div class="field">
        <%= f.label :email, class: "email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signin-email-field", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.label :password , class: "password" %><br />
        <%= f.password_field :password, autocomplete: "current-password",class: "signin-password-field", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me, class: "checkbox-title" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "sign-up-btn" %>
      </div>
    <% end %>
      <div class="move-signin">
        <%= link_to 'Sign up',new_user_registration_path ,class: "move-signin-btn"%>
      </div>

    <%# <%= render "devise/shared/links" %> 
  </div>
</div>